.instructor-info {
  color: white;
  padding: 2px 5px;
  margin: 2px 0;
  border-radius: 5px;
  min-width: 130px;
  max-width: 100%;
  overflow: hidden;
  transition: all 0.5s ease;
  cursor: pointer;
  overflow-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.instructor-name {
  display: block;
  min-width: 130px;
  max-width: 100%;
  font-weight: bold;
}

.instructor-details {
  max-height: 0;
  opacity: 0;
  transition: all 0.5s ease;
  overflow: hidden;
}

.instructor-info:hover .instructor-details {
  max-height: 500px;
  opacity: 1;
}

.spacer {
  height: 0.5em;
}